/* Reset and global styles */
body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    position: fixed;
    overflow: hidden;
}

/* Background and overlay styles */
.background-container {
    background-image: url('../images/background_image.jpeg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #050404;
    background-attachment: fixed;
}

.overlay-image {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 1000;
    transform: rotate(-30deg);
}

/* Header and content styles */
.content {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.logopic {
    width: 130px;
    height: 100px;
    margin: 0;
}

h1 {
    color: blue;
    text-shadow: 10%;
    font-weight: bolder;
    font-size: 4em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}

/* Stats container styles */
.stats-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 650px;
    height: 30px;
    background-color: #6CEBFD;
    border-radius: 50px;
    z-index: 1;
}

.stat {
    text-align: center;
    color: black;
}

.stat h5 {
    margin: 0;
    font-size: 1em;
}

.stat button {
    background-color: orange;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.highlightcolor {
    color: #000;
    background-color: grey;
    padding: 2px 5px;
    border-radius: 5px;
}

.highlightcorrect {
    color: #000;
    background-color: green;
    padding: 2px 5px;
    border-radius: 5px;
}

.highlightincorrect {
    color: #000;
    background-color: red;
    padding: 2px 5px;
    border-radius: 5px;
}

/* Text area styles */
.text, .textar {
    border-radius: 20px;
    text-align: center;
    position: fixed;
    z-index: 2;
    resize: none;
    font-size: 24px;
    font-family: 'Kruti Dev', sans-serif; /* Apply Krutidev font */
}

.text {
    height: 100px;
    width: 560px;
    left: 50%;
    top: 32%;
    transform: translateX(-50%);
    font-weight: bold;
}

.textar {
    height: 100px;
    width: 555px;
    top: calc(63% - 120px);
    left: 50%;
    transform: translateX(-50%);
}

/* Button styles */
.shiftbuttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: fixed;
    top: calc(65%);
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.Submit, .home {
    padding: 10px 20px;
    font-size: 16px;
    width: 120px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #FFA500;
    height: 40px;
    text-align: center;
    display: inline-block;
    white-space: nowrap;
    border: none;
    outline: none;
    margin: 0 5px;
}

/* Social icons styles */
.social-icons {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
}

.icon {
    width: 50px;
    height: auto;
    padding: 5px;
}

/* Font face for Krutidev */
@font-face {
    font-family: 'Kruti Dev';
    src: url('fonts/Kruti_Dev_040__Bold.ttf') format('truetype');
}
